*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body{
  background:#f4f7fb;
  color:#0f0f0f;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 50px;
  background:#ffffff;
  box-shadow:0 8px 24px rgba(0,0,0,0.05);
  position:sticky;
  top:0;
  z-index:20;
}

.logo{
  font-size:26px;
  font-weight:700;
  letter-spacing:.5px;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links li a{
  text-decoration:none;
  color:#111;
  font-weight:500;
}

.nav-links li a:hover{
  color:#007bff;
}

.hero{
  display:grid;
  grid-template-columns:1.3fr 1fr;
  padding:70px 60px;
  gap:40px;
  align-items:center;
}

.hero-left h1{
  font-size:40px;
  margin-bottom:10px;
}

.hero-left span{
  color:#007bff;
}

.tag{
  margin:10px 0 15px;
  font-weight:500;
}

.short-text{
  max-width:500px;
  line-height:1.6;
  color:#333;
}
.photo-frame{
  width:330px;
  height:420px;
  border-radius:22px;
  overflow:hidden;
  box-shadow:0 25px 50px rgba(0,0,0,0.15);
  background:white;
}

.photo-frame img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.intro{
  padding:60px 60px;
}

.intro h2{
  font-size:32px;
  margin-bottom:20px;
}

.intro-box{
  background:white;
  border-radius:18px;
  padding:25px 28px;
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
}

.intro-box h3{
  margin-top:14px;
  color:#007bff;
}

.intro-box p{
  margin:5px 0 8px;
  line-height:1.55;
  background-color: rgb(212, 211, 211);
}
.contact{
  padding:60px 60px;
}

.contact-card{
  background:white;
  padding:25px;
  border-radius:16px;
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
  line-height:1.6;
}

footer{
  text-align:center;
  padding:18px;
  color:#555;
}
button{
    color: rgb(24, 213, 238)
    font-size: large;
}
